<div class="container" align="center"  style="padding-top: 8%;">

    <div class="jumbotron" align="center"  style="width: 30%; padding-bottom: 1%; padding-top: 4%;">
    
         <h1>Login</h1>

         <div class="alert-danger" *ngIf="failure.value">invalid id or password</div><br>

         <form class="form-group" [formGroup]="loginForm" (ngSubmit) = "submit()"> <br>

            <!----------- admin id-------- -->

            <div *ngIf ="loginForm.get('adminId').invalid && loginForm.get('adminId').touched">
                <small *ngIf="loginForm.get('adminId').errors?.required" class="text-danger">*admin ID is madatory</small>
            </div>
            <input type="text" [class.is-invalid]="loginForm.get('adminId').invalid && loginForm.get('adminId').touched"  class="form-control" formControlName="adminId" style="text-align: center;" placeholder="Admin ID" > <br>

            <!------------ password ---------------->

            <div *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched" >
                <small *ngIf="loginForm.get('password').errors?.minlength" class="text-danger">*password must be minimum 8 characters</small>
                <small *ngIf= "loginForm.get('password').errors?.required" class="text-danger">*password is madatory</small>
            </div>

            <input type="password" [class.is-invalid]="loginForm.get('password').invalid && loginForm.get('password').touched" formControlName="password" class="form-control" style="text-align: center; " placeholder="password"> <br>

            <!-- buttons -->
            <input [disabled]="!loginForm.valid" type="submit" class="btn btn-primary" style="width: 80%;" value="Log In"><br><br>
        </form>
        <a routerLink="/userLogin">User Login</a>
    
    </div>

</div>