<div class="row justify-content-center">
    <div class="col-sm-10 text-left bg-white rounded shadow py-13">
        <div class="p-3 mb-2 bg-success text-white">
            <h1>WELCOME ADMIN</h1>
        </div>
        <div class="row">



            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Add Flight Details</h3>
                        <p class="card-text">Here Admin can add the Flight Details into the Database.</p>
                        <button type="submit" class="btn btn-warning float-right" routerLink="/addcenter">Add Flight
                            Details</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Delete Flight Details</h3>
                        <p class="card-text">Here Admin can delete the Flight Details from the Database.</p>
                        <button type="submit" class="btn btn-warning float-right" routerLink="/delete">Delete Flight
                            Details</button>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">View All Flight Details</h3>
                        <p class="card-text">Here Admin can view all Flight Details from the Database.</p>
                        <button type="submit" class="btn btn-warning float-right" routerLink="/addcenter">View Flight
                            Details</button>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Update Flight Details</h3>
                        <p class="card-text">Here Admin can update the Flight Details into the Database.</p>
                        <button type="submit" class="btn btn-warning float-right" routerLink="/addcenter">Update Flight
                            Details</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>